@{Layout = "_Layout";}
@using HairSalon.Models;


<h3>@Model.GetFirstName() @Model.GetLastName()</h3>
<p>@Model.GetPhoneNumber()</p>

@if (@Model.GetClients().Count == 0)
{
  <p>Currently, this stylist does not have any clients</p>
}
@if (@Model.GetClients().Count != 0)
{
  <table>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
 
      @foreach ( Client client in @Model.GetClients())
      {
        <tr>
          <td><a href='/stylists/@Model.GetId()/clients/@client.GetId()'>@client.GetFirstName() @client.GetLastName()</a></td>
          <td>@client.GetPhoneNumber()</td>
        </tr>
      }
 </table>

}
<nav>
  <a href='/stylists/@Model.GetId()/clients/new'>Add new client</a>
  <a href='/stylists/@Model.GetId()/delete'>Delete Stylist</a>
  <a href='/stylists/deleteAll'>Delete All</a>
</nav>