@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<p>@Model.GetFirstName() @Model.GetLastName()</p>
    @foreach ( Client client in @Model.GetClients(Model.GetId()))
    {
        <a href='/stylists/@Model.GetId()/clients/@client.GetId()'>@client.GetFirstName() @client.GetLastName()</a>
    }

