@{Layout = "_Layout";}
@using HairSalon.Models;


<table>
  <tr>
    <td><strong>@Model.GetFirstName() @Model.GetLastName() </strong></td>
    <td>@Model.GetPhoneNumber()</td>
  </tr>
</table>

@if (@Model.GetClients().Count == 0)
{
  <p>Currently, this stylist does not have any clients</p>
}
@if (@Model.GetClients().Count != 0)
{
  <table>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
 
      @foreach ( Client client in @Model.GetClients())
      {
        <tr>
          <td><a href='/stylists/@Model.GetId()/clients/@client.GetId()'>@client.GetFirstName() @client.GetLastName()</a></td>
          <td>@client.GetPhoneNumber()</td>
        </tr>
      }
 </table>

}
<nav class="bottom">
  <a href='/stylists/@Model.GetId()/clients/new'>Add new client</a>
  <a href='/stylists/@Model.GetId()/delete'>Delete Stylist</a>
</nav>