@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<table>
  <tr>
    <td><strong>@Model["specialty"].GetSpecialty()</strong></td>
    <td><a href='/specialties/@Model["specialty"].GetId()/edit'>Edit</a></td>
    <td><a href='/specialties/@Model["specialty"].GetId()/delete'>Delete</a></td>
  </tr>

<hr>

@if (@Model["specialty"].GetStylists().Count == 0)
{
  <p>Currently, this specialty does not have any stylists.</p>
}

@if (@Model["specialty"].GetStylists().Count != 0)
{
    @foreach (Stylist stylist in @Model["specialty"].GetStylists())
    {
      <tr>
        <td><a href='/stylists/@stylist.GetId()'>@stylist.GetFirstName() @stylist.GetLastName()</a></td>
        <td>
          <form action='/specialties/@Model["specialty"].GetId()/stylists/remove/@stylist.GetId()' method='post'>
              <button class="fake-link" type='submit'>Remove</button>
          </form>
        </td>
       </tr>
    }
}
</table>
<hr>
<strong>Add a stylist to this specialty</strong>
<form action='/specialties/@Model["specialty"].GetId()/stylists/new' method='post'>
  <select id='stylistId' name='stylistId' type='text'>

    @foreach (Stylist stylist in @Model["stylists"])
    {
        <option value='@stylist.GetId()'>@stylist.GetFirstName() @stylist.GetLastName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<nav class="bottom">
  <a href='/specialties/new'>Add a specialty</a>
</nav>