@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<h3>Edit client for @Model.GetStylistName(@Model.GetStylistId())</h3>
<form action="/stylists/@Model.GetStylistId()/clients/@Model.GetId()" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="@Model.GetStylistId()">
  <label for='firstName'>First Name</label>
  <input id='firstName' name='firstName' type='text' required value='@Model.GetFirstName()'><br />
  <label for='lastName'>Last Name</label>
  <input id='lastName' name='lastName' type='text' required value='@Model.GetLastName()'><br />
  <label for='phoneNumber'>Phone   </label>
  <input id='phoneNumber' name='phoneNumber' type='text' required value='@Model.GetPhoneNumber()'><br />
  <label for='notes'>Notes</label>
  <textarea id='notes' name='notes' rows='3' cols='50'>@Model.GetNotes()</textarea><br />
  <button type="submit">Update</button>
</form>