@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<table>
  <tr>
    <td>@Model.GetFirstName() @Model.GetLastName()</td>
    <td>@Model.GetPhoneNumber()</td>
    <td><a href='/stylists/@Model.GetStylistId()'>@Model.GetStylistName(@Model.GetStylistId())</a></td>
  </tr>
  <tr>
    <td colspan="3">@Model.GetNotes()</td>
  </tr>
</table>
<nav class="bottom">
  <a href='/stylists/@Model.GetStylistId()/clients/@Model.GetId()/edit'>Edit</a>
  <a href='/stylists/@Model.GetStylistId()/clients/@Model.GetId()/delete'>Delete</a>
</nav>